:root {
  --black: #000;
  --white: #fff;
  --grey950: #111432;
  --grey900: #23263b;
  --grey800: #36395a;
  --grey700: #484c7a;
  --grey600: #5a5e9a;
  --grey500: #777aaf;
  --grey400: #9698c3;
  --grey300: #b6b7d5;
  --grey200: #d6d6e7;
  --grey100: #f5f5fa;
  --grey50: #fcfcfd;
  --pink900: #59063d;
  --pink800: #88085c;
  --pink700: #b80979;
  --pink600: #e90a96;
  --pink500: #f82caa;
  --pink400: #fb5abc;
  --pink300: #fd89ce;
  --pink200: #feb9e2;
  --pink100: #ffeaf6;
  --nebula900: #141d61;
  --nebula800: #1e2b8f;
  --nebula700: #2b3cbb;
  --nebula600: #3c4fe0;
  --nebula500: #5468ff;
  --nebula400: #7c8aff;
  --nebula300: #a3acff;
  --nebula200: #cacfff;
  --nebula100: #f2f3ff;
  --blue900: #00526c;
  --blue800: #00769b;
  --blue700: #009bcb;
  --blue600: #0db7eb;
  --blue500: #2cc8f7;
  --blue400: #5adaff;
  --blue300: #89e5ff;
  --blue200: #b9efff;
  --blue100: #e8faff;
  --green900: #005e36;
  --green800: #028950;
  --green700: #06b66c;
  --green600: #0de589;
  --green500: #5feb9e;
  --green400: #88f0b3;
  --green300: #aaf4c8;
  --green200: #c9f8de;
  --green100: #e6fcf3;
  --orange900: #963209;
  --orange800: #bf470a;
  --orange700: #e8600a;
  --orange600: #f78125;
  --orange500: #faa04b;
  --orange400: #fcbc73;
  --orange300: #fed59a;
  --orange200: #ffe9c3;
  --orange100: #fff9ec;
  --red900: #83111e;
  --red800: #ab1325;
  --red700: #d4142a;
  --red600: #ee243c;
  --red500: #f4495d;
  --red400: #f86e7e;
  --red300: #fc95a1;
  --red200: #febdc5;
  --red100: #ffe6e9;
  --break-medium: 767px;

  /* Spacing */
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;

  /* Typography */
  --font-size-sm: 0.75rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
}

.App {
  text-align: left;
  margin: 1rem 2rem 1rem 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* SEARCH BAR AND SORT */

.searchSort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.ais-SearchBox {
  width: 100%;
  max-width: 600px;
  /* margin: 0 auto var(--spacing-md); */

  &-input {
    width: 100%;
    padding: var(--spacing-xs);
    border: 1px solid var(--grey300);
    border-radius: 4px;
  }
}

.sort {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.ais-HitsPerPage, .ais-SortBy {
  font-size: 10px;
}

.ais-Stats-text {
  font-size: .75rem;
}

/* "BODY" - REFINEMENTS AND HITS LIST */

.refineAndHits {
  display: flex;
  flex-direction: row;
  flex: 1 3;
  gap: 1rem;
  margin-top: 1rem;

}

/* REFINEMENTS SIDEBAR */

.refinements {
  width: 100%;
  border: 1px solid var(--grey200);
  border-radius: 4px;
  padding: var(--spacing-sm);
  background-color: var(--white);
  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: 1024px) {
    max-width: 250px;
    flex-shrink: 0;
  }
}

.ais-RefinementList-label {
  text-transform: capitalize;

}

.toggleLabel {
  font-weight: bold;
  color: goldenrod;
  margin-top: 2rem;
}

/* RANGE SLIDER */

.range-slider {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.range-slider-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

/* RATING MENU */

.rating-menu {
  list-style: none; /* Removes bullets */
  padding: 0;
  margin: 0rem;
}

.rating-menu li {
  display: flex;
  align-items: center; /* Aligns stars and text */
  gap: 8px; /* Adds spacing between stars and text */
}

.rating-menu a {
  text-decoration: none; /* Removes underline */
  color: black; /* Changes link color */
  /* font-weight: bold; */
}

.rating-menu a:hover {
  color: #f39c12; /* Adds hover effect */
}

.ratingText {
  font-size: 14px;
  margin: .33rem;
}

/* HITS GRID */

.hits, .ais-Hits-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--spacing-sm);
  width: 100%;

}

.ais-Hits-item {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--grey200);
  border-radius: 8px !important;
  overflow: hidden;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* padding: var(--spacing-sm); */
    gap: var(--spacing-xs);
  }
}

.chefsFavorite {
  color: var(--grey800);
  font-size: 1rem;
  background-color: gold;
  padding: 5px;
  border-radius: 5px;
  justify-content: end;
}

.ais-Hits-item:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.ais-Hits-item article {
  display: grid;
  grid-template-rows: auto 200px auto auto auto;
  height: 100%;
  text-align: center;
  justify-items: center;
}

.ais-Hits-item h1 {
  height: 2.5rem;
  /* overflow: hidden; */
  text-overflow: ellipsis;
}

.ais-Hits-item .img {
  /* height: 200px; */
  /* object-fit: cover; */
  height: 10rem;
  border-radius: 5px;
}

.ais-Hits-item .desc {
  height: 5rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ais-Hits-item .btn {
  align-self: end;
}

.hits {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Optional spacing between items */
  justify-content: space-between; /* Even spacing */
  /* max-height: 10rem; */
}

/* .img {
  height: 8rem;
  border-radius: 5px;
} */

.desc {
  text-align: left;
}

.rating {
  margin: 0;
}

.btn {
  width: 50%;
  height: 2rem;
  background-color: var(--grey100);
  border: 1px solid black;
  border-radius: 5px;
}

.btn:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

/* LOOKING SIMILAR (WITHN HIT) */

.similar-hit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.similar-img {
  max-width: 5rem;
}

.ais-LookingSimilar-list {
  display: flex;
  flex-direction: row;

}

.similar-title {
  background-color: var(--grey800);
  color: white;
  margin: 0;
  height: 2.5rem;
  justify-content: center !important;
  align-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ais-LookingSimilar {
  margin-left: 1rem;
  margin-right: 1rem;
  border: 1px solid black;
  border-radius: 5px;
}

/* PAGINATION */

.ais-Pagination {
  margin-top: 1rem;
}

.ais-Pagination-list {
  justify-content: center;
  align-items: bottom;
}

/* CONDITIONAL - BANNER IMAGE */

.ais-Hits-banner-image {
  width: auto;
}

.ais-Hits-banner {
  /* width: 200rem;
  align-items: left; */
}
